{% extends "base.html" %}
{% block extrahead %}{% endblock %}
{% block headtitle %}{{title}}|{{block.super}}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" >
            <div class='text-center'>

                <h1>Formulario de Actualización</h1>
                <br>

                <form method="POST" action="" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <form class="form-inline">
                        <div class="container">
                            <table id="contenido" class="container-fluid">
                                <tr>
                                    <td><label for="{{form.Nombre.name}}">{{form.Nombre.label}}</label></td>
                                    <td>{{form.Nombre}}</td>
                                </tr>
                                <tr>
                                    <td><label for="{{form.CantidadExistente.name}}">{{form.CantidadExistente.label}}</label></td>
                                    <td>{{form.CantidadExistente}}</td>
                                </tr>
                                <tr>
                                    <td><label for="{{form.CantidadPorHectarea.name}}">{{form.CantidadPorHectarea.label}}</label></td>
                                    <td>{{form.CantidadPorHectarea}}</td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <input type="submit" class="btn btn-default" value="Actualizar"/>
                        <hr>
                    </form>
                </form>
            </div>
            <br>
        </div>
    </div>
{% endblock %}


